/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.logo-dashboard {
    height: 30px;
}

.logo-login {
    width: 110px;
}

.logo-register {
    width: 90px;
}